<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testNG crash course4">

  <test  name="Parameter1">
  <parameter name="email" value="david@yopmail.com"/>
    <parameter name="password" value="12345678"/>
    <classes>
      <class name="Allpagestests.Loginpagetest"/>
      <class name="Allpagestests.Dashboardpagetest"/>
      
    </classes>
    
    
  </test > 
  <test name="Parameter2">
   <parameter name="email" value="enduser@yopmail.com"/>
    <parameter name="password" value="12345678"/>
    <classes>
      <class name="Allpagestests.Loginpagetest"/>
      <class name="Allpagestests.Dashboardpagetest"/>
      
    </classes>
  
  </test>
  <test name="Parameter3">
   <parameter name="email" value="davidcontractor@yopmail.com"/>
    <parameter name="password" value="12345678"/>
    <classes>
      <class name="Allpagestests.Loginpagetest"/>
      <class name="Allpagestests.Dashboardpagetest"/>
      
    </classes>
  
  </test>
  
  

</suite>
